/* Global Style */

/* Navbar */
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba(52,58,64) !important;;
}

.navbar .nav-link {
    margin: 0px 12px 0px 12px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255,255,255) !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
    transition: all 0.8s ease 0s; /* Hover off transition */
}

.navbar a:hover {
    transition: all 0.8 ease 0s; /* Hover on transtion */
    color: gold !important;
}

/* Jumbotron */
.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%),
    url(assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: white;
}

.jumbotron .display-1 {
    margin-top: 150px;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.jumbotron .display-2 {
    font-size: 15px;
    font-weight: 600;
}

.jumbotron a {
    margin-top: 15px;
    padding: 10px 50px 10px 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: gold;
    border-color: gold;
}

.jumbotron .dropdown {
    margin-top: 100px;
    margin-bottom: 50px;
}

.jumbotron .display-3 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
